@tailwind base;
@tailwind components;
@tailwind utilities;


html {
      height: 100%;
      box-sizing: border-box;
}

body {
      position: relative;
      margin: 0;
      min-height: 100%;
      padding-bottom: 6.47rem;
      box-sizing: inherit;
      background-color: #EDF6F9;
      
}

.main {
      position: relative;
      top: 4rem;
      margin: 0;
      min-height: 100%;
      padding-bottom: 6.47rem;
      box-sizing: inherit;
}

header {
      position: fixed;
      z-index: 999;
}

/* Product Card Component CSS */
.details {
      border-bottom-left-radius: 0.7rem;
      border-bottom-right-radius: 0.7rem;
}

.details:hover {
      background-color: #83c5bf91;
}

.hidden-scrollbar {
      overflow: auto;
      /* Ensure the content can scroll */
      scrollbar-width: none;
      /* For Firefox */
      -ms-overflow-style: none;
      /* For Internet Explorer and Edge */
}

.hidden-scrollbar::-webkit-scrollbar {
      display: none;
      /* For Chrome, Safari, and Opera */
}

/*  Home page Top category nav CSS */
.hidden-scrollbar2::-webkit-scrollbar {
      display: none;
      /* For Chrome, Safari, and Opera */
}
@media (max-width:767px) {
      .category-image{
            height: 5rem;
            width: 5rem;
      }
}

/* home page banner4 forward and backward button CSS */
.edgeRound-left{
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
}
.edgeRound-right{
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
}
.userSelectNone{
      user-select: none;
}
