@tailwind base;
@tailwind components;
@tailwind utilities;

main{
      background-color: #EDF6F9;
      position: relative;
      top: 4rem;
      height: 100vh;
}
header{
      position: fixed;
      z-index: 999;
}