@media(max-width:639px){
            .otpinputs{
                        height: 40px;
                        width: 40px;
                        padding-left: 1rem;
                        padding-right: 1rem;
            }
            .otpform{
                        gap:1rem;
            }
            .otpdiv{
                        gap:1rem
            }
}